<mat-card class="cards">
  <h2>Completed Race</h2>
  Distance
  <h2>
  <mat-form-field    >
    <input
      matInput
      [(ngModel)]="distance"
      (change)="calcTime()" /></mat-form-field>
  <br>
</h2>

  <mat-radio-group (change)="calcTime()"
    aria-labelledby="example-radio-group-label"
    class="split-radio-group"
    [(ngModel)]="selectedUnit">
    <mat-radio-button class="split-radio-button" *ngFor="let unit of units" [value]="unit">
      {{unit}}
    </mat-radio-button>
  </mat-radio-group>
<br>

  Time
  <h2>
  <mat-form-field>
    <input
      matInput
      placeholder="min"
      [(ngModel)]="minutes"
      (change)="calcTime()"
    />
    </mat-form-field
  >:
  <mat-form-field
    ><input
      matInput
      placeholder="ss.00"
      [(ngModel)]="seconds"
      (change)="calcTime()"
  />
</mat-form-field>
</h2>


<mat-card class="cards">
  <h2>Predicted Race</h2>
  Distance
  <h2>
    <mat-form-field>
      <input
      matInput
      [(ngModel)]="preddistance"
      (change)="calcTime()" />
    </mat-form-field>
  <br>
</h2>
  <mat-radio-group (change)="calcTime()"
    aria-labelledby="pred-radio-group-label"
    class="split-radio-group"
    [(ngModel)]="selectedPredUnit">
    <mat-radio-button class="split-radio-button" *ngFor="let unit of units" [value]="unit">
      {{unit}}
    </mat-radio-button>
  </mat-radio-group>
  <br />
<br>
  Time

  <div>
    <h2><mat-label>{{ strPredTime }}</mat-label></h2>
  </div>
</mat-card>
